:root {
    --primary-color: #749958;
    --primary-color-1: #EFF7E8;
    --dark-color: #333333;
    --offwhite-color: #F9F9F9;
    --white-color: #fff;
}

/* resets */



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: var(--offwhite-color);
    color: var(--dark-color);
    font-weight: 500;
}

h1, h2, h4 {
    font-family: 'Bitter', serif;
    font-weight: 800;
}

h1, h2 {
    margin-bottom: 16px;
}

h1 {
    font-size: 10vw;
}

h2 {
    font-size: 36px;
}

h3 {
    font-family: 'Caveat', serif;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bold;
}

h4 {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 12px
}

a {
    text-decoration: none;
    color: var(--dark-color);
}

ul {
    list-style-type: none;
}

img {
    max-width: 100%;
}

/* header */

#header {
    padding: 12px 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    background-color: var(--white-color);

    /* background-color: var(--offwhite-color);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px; */
}

#header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .nav-links {
    display: none;
    gap: 16px;
}

#header .nav-link {
    color: var(--white-color);
    position: relative;
    font-size: 14px;

    /* color: var(--dark-color); */
}

/* #header .nav-link.active::after {
    content: '';
    width: 20px;
    height: 3px; 
    background-color: var(--primary-color);
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 45px;
    cursor: default;
} */

#header .toggle-btn {
    outline: none;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: transparent;
}

#header .toggle-btn div {
    background-color: var(--dark-color);
    height: 3px;
    width: 30px;
    border-radius: 50px;
}

/* hamburger menu */

.hamburger-menu {
    position: fixed;
    z-index: 10;
    top: 79px;
    left: 0;
    background-color: var(--primary-color);
    width: 100%;
    display: none;
}

.hamburger-menu.active {
    display: block;
}

.hamburger-menu ul {
    display: flex; 
    flex-direction: column;
}

.hamburger-menu li {
    padding: 12px 16px;
    border-bottom: 1px solid #8da67a;
}

.hamburger-menu a {
    color: var(--white-color);
}

/* hero */

#hero {
    background-image: linear-gradient(rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0.75)), url('../assets/hero-img-2.jpg');
    background-size: cover;
    background-position: center;
    color: var(--white-color);
   
}

#hero .container {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

#hero .hero-content {
    margin-top: 80px;
    max-width: 550px;
}

#hero .btn {
    margin-top: 24px;
}

/* about */

#about {
    padding: 50px 0;
}

#about .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-columns: repeat(12, 1fr); */
    align-items: center;
}

#about h2 {
    max-width: 400px;
}

.swiper {
    width: 100%;
    margin-top: 25px;
}
    
.swiper-slide {
    text-align: center;
    font-size: 18px;
    border-radius: 32px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: grab;
}
    
.swiper-slide img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

/* benefits */

#benefits {
    background-color: var(--primary-color-1);
    background-image: url('../assets/benefits-img.webp');
    padding: 50px 0;
}

#benefits ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    text-align: center;
}

#benefits li {
    max-width: 350px;
    margin: 0 auto;
}

/* services */

#services {
    padding: 50px 0 135px;
    overflow-x: hidden;
}

#services ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px 30px;
    margin-top: 75px;
}

#services li {
    width: 350px;
    text-align: center;
    position: relative;
}

#services .blob {
    position: absolute;
    width: 250px;
    left: 50%;
    top: 50%;
    transform: rotate(0) scale(.8);
    translate: -50% -50%;
    z-index: -1;
    animation: blob-animation 15s linear infinite;
}

#services .blob-1 {
    animation-delay: 0s;
    animation-direction: reverse;
}

#services .blob-2 {
    animation-delay: .25s;
    /* animation-direction: alternate; */
}

#services .blob-3 {
    animation-delay: .75s;
    animation-direction: reverse;
}

#services .blob-4 {
    animation-delay: 1s;
    /* animation-direction: alternate; */
}

#services .blob-5 {
    animation-delay: 1.25s;
    animation-direction: reverse;
}

@keyframes blob-animation {
    0% {
        transform: rotate(0) scale(.8);
    }
    50% {
        transform: rotate(180deg) scale(1.1);
    }
    100% {
        transform: rotate(360deg) scale(.8);
    }
}

#cta {
    padding: 50px 0;
    background-image: linear-gradient(rgba(51, 51, 51, 0.75), rgba(51, 51, 51, 0.75)), url('../assets/cta-img.jpg');
    background-size: cover;
    background-position: center;
    color: var(--white-color);
}

#cta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* contact */

#contact {
    padding: 50px 0;
}

#contact .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

#contact .contact-heading,
#contact .contact-info
 {
    max-width: 480px;
    flex: 1;
}

#contact .contact-heading {
    text-align: center;
    margin-bottom: 25px;
}

#contact .contact-divider {
    display: none;
    height: 300px;
    width: 1px;
    background-color: #333333;
    opacity: 15%;
}

/* #contact .contact-info {
    display: flex;
    justify-content: center;
    width: 100%;
} */

#contact ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#contact li {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 16px;
}

/* footer */

#footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 16px 0;
    text-align: center;
}

#footer .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* justify-content: space-between; */
}

#footer .footer-copyright a {
    color: var(--white-color);
    text-decoration: underline;
}

#footer .footer-social-links {
    display: flex;
    justify-content: center;
    gap: 16px;
}

#footer .footer-social-links a {
    color: var(--white-color);
    font-size: 14px;
}

/* Utility classes */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.section-header-center {
    max-width: 800px;
    margin: 0 auto 24px;
    text-align: center;
}

.section-header-center h2 {
    max-width: 450px;
    margin: 0 auto 16px;
}

.logo {
    width: 50px;
}

/* Buttons */

.btn {
    display: inline-block;
    padding: 16px 32px;
    background-color: var(--primary-color);
    border-radius: 32px;
    color: var(--white-color);
    font-size: 14px;
    border: none;
}

.social-btn {
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media queries */

@media(max-width: 360px) {

    h2 {
        font-size: 28px;
    }

}

@media(min-width: 600px) {

    .container {
        max-width: 600px;
    }

    h1 {
        font-size: 62px;
    }
    
    #header {
        background-color: transparent;
        box-shadow: none;
    }

    #header .toggle-btn {
        display: none;
    }

    #header .nav-links {
        display: flex;
    }

    #hero .hero-content {
        margin-top: 0;
    }

    #footer .container {
        flex-direction: row;
        justify-content: space-between;
    }

}

@media(min-width: 768px) {

    .container {
        max-width: 768px;
    }

    #contact .container {
       flex-direction: row;
    }

    #contact .contact-heading {
        text-align: left;
        margin-bottom: 0;
    }

    #contact .contact-divider {
        display: block;
        margin: 0 45px;
    }

    #contact li {
        flex-direction: row;
        text-align: left;
        gap: 24px;
    }
}

@media(min-width: 992px) {

    .container {
        max-width: 992px;
    }

    #hero .container { 
        min-height: 800px;
    }

    #about {
        padding: 100px 0;
    }

    #services {
        padding: 100px 0 165px;
    }

    #cta {
        padding: 100px 0;
    }

    #contact {
        padding: 100px 0;
    }    

}

@media(min-width: 1200px) {

    .container {
        max-width: 1200px;
    }

}